$color-base-blue:#2D303A;
$color-background:#F06C64;
$color-line-blue:#323746;
$color-line-red:#EA676B;
$color-text:#767E9E;
$color-heading:#666D89;
$color-text-second:#F0D8D9;
$color-form:#D6564F;
$color-form-text:#F48C8F;
$color-background-input:#FBC65F;
$color-input:#886A30;
$color-background-second:#F2F2F2;
$content-width:1020px;
$tablet-width:768px;
$mobile-width:375px;