.header {
    background-color: $color-base-blue;
    padding: 29px 40px 30px 40px;
}

.heder__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation {
    display: flex;
    margin: 0px;
    margin-top: 11px;
}

.navigation_link {
    list-style: none;
    font-size: 1.2rem;
    line-height: 1.4rem;
    color: white;
    padding: 0 0.6rem 0;
    cursor: pointer;
    margin: 0px;
}