.header {
    background-color: $color-base-blue;
    padding: 29px 30px 0 40px;
    position: sticky;
    top: 0;
    z-index: 5;
    height: 89px;
    width: inherit;
}

.heder__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}