@import "/Fonts.css" screen;
* {
    margin-left: auto;
    margin-right: auto;
    width: 1020px;
}

body {
    margin: 0px;
}

header {
    background-color: #2d303a;
    color: white;
    font-family: LatoBold, sans-serif;
}

.top {
    height: 89px;
}

h1 {
    font-size: 25px;
    letter-spacing: -0.7px;
    margin: 0 12px 0;
    padding: 28px;
}

.red {
    color: #ff6666;
}

ul {
    font-size: 12px;
    position: absolute;
    top: 30px;
    left: 846px;
}

li {
    text-align: center;
    display: inline;
    margin-right: 5px;
    padding: 2.1px;
    letter-spacing: 0.23px;
}

li:hover {
    color: #ff6666;
    cursor: pointer;
    transition: 0.5s;
}

.line {
    height: 6px;
    background-color: #323746;
}

.Gray {
    color: #494e62;
}

.Slider {
    background-color: #f06c64;
    height: 600px;
}

.iphones {
    position: absolute;
    top: 89px;
}

.quotes {
    position: absolute;
    width: 100px;
    top: 339px;
}

.right {
    left: 1202px;
}

.quotes:hover {
    background: url(assets/images/left_arrow-b.png);
    cursor: pointer;
}

.right:hover {
    background: url(assets/images/right\ _arrow-b.png);
}

.line2 {
    height: 6px;
    background-color: #ea676b;
    position: absolute;
    top: 689px;
}

.OurServices {
    background-color: #f2f2f2;
    color: #666d89;
    height: 500px;
}

h2 {
    font-size: 30px;
    letter-spacing: 0.1px;
    padding-top: 59px;
    padding-left: 40px;
    margin: 0px;
    font-family: LatoBlack, sans-serif;
}

.paragraph {
    font-size: 18px;
    letter-spacing: -0.05px;
    margin: 18px 0 0 40px;
    line-height: 30px;
    font-family: LatoLight, sans-serif;
    width: 950px;
}

.paragraph span {
    word-spacing: -1.1px;
}

.container {
    display: grid;
    grid-template-columns: 60px 220px 60px 220px 60px 220px;
    grid-template-rows: 85px 90px;
    grid-column-gap: 20px;
    grid-row-gap: 38px;
    align-items: start;
    margin-top: 43px;
    margin-left: 40px;
    overflow: hidden;
}

.OurServices img {
    width: 60px;
    margin: 4px 0 0;
}

h3 {
    font-size: 18px;
    font-family: LatoBlack, sans-serif;
    margin: 0px;
}

.container p {
    font-size: 12px;
    font-family: LatoRegular, sans-serif;
    line-height: 21px;
    text-align: justify;
    width: 220px;
    margin: 8px 0 0;
}

div.line3 {
    position: absolute;
    background-color: white;
    height: 6px;
    top: 1189px;
}