/*! normalize.scss v0.1.0 | MIT License | based on git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  margin: 0;
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

@font-face {
  font-family: "LatoBold";
  src: url("assets/Lato-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "LatoBlack";
  src: url("assets/Lato-Black.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "LatoLight";
  src: url("assets/Lato-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "LatoRegular";
  src: url("assets/Lato-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font-family: LatoLight, sans-serif;
  font-size: 1.6rem;
  max-width: 1020px;
  margin: auto;
  color: #767E9E;
  font-size: 18px;
  line-height: 30px;
}

h1 {
  font-family: LatoBold, sans-serif;
  font-size: 2.5rem;
  line-height: 3rem;
  letter-spacing: -0.03em;
  color: white;
}

h2 {
  font-family: LatoBlack, sans-serif;
  font-size: 3rem;
  line-height: 3.6rem;
  padding: 59px 0 15px 0;
  color: #666D89;
  margin: 0;
}

h3 {
  font-family: LatoBlack, sans-serif;
  font-size: 1.8rem;
  line-height: 3rem;
  margin: 0;
  padding-left: 19px;
  color: #666D89;
}

.text {
  margin: 0;
  color: #767E9E;
}

.wrapper {
  max-width: 100%;
  margin: auto;
  padding: 0 40px 0;
}

.header {
  background-color: #2D303A;
  padding: 29px 30px 0 40px;
  position: sticky;
  top: 0;
  z-index: 5;
  height: 89px;
  width: inherit;
}

.heder__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer {
  background-color: #2D303A;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 76px;
  padding: 0 39px 0 40px;
}

.footer__text {
  font-family: LatoBlack, sans-serif;
  font-size: 1.3rem;
  margin: 0;
  padding-top: 1px;
}

.footer__fotpicturesOfSocialNetworks {
  padding-top: 7px;
  align-items: center;
}

::placeholder {
  line-height: 3.6rem;
  Font-family: LatoRegular, sans-serif;
  font-size: 1.2rem;
  color: #F48C8F;
}

.navigation {
  display: flex;
  margin: 0px;
  margin-top: 11px;
}

.navigation__link {
  text-decoration: none;
  list-style: none;
  font-size: 1.2rem;
  line-height: 1.4rem;
  color: white;
  padding: 0 0.47rem 0;
  cursor: pointer;
  margin: 0px;
}

.active {
  color: #F06C64;
}

.slider {
  position: relative;
  scroll-margin-top: 95px;
}

.slider__arrow {
  position: absolute;
  top: 47.6%;
  cursor: pointer;
}

.slider__arrow_posicion_left {
  left: 4%;
}

.slider__arrow_posicion_right {
  right: 3.8%;
}

.slider__button {
  position: absolute;
  width: calc((100%/1020)*42);
  cursor: pointer;
}

.slider__screen {
  position: absolute;
  width: calc((100%/1020)*300);
  opacity: 0;
  transition: opacity 1s;
}

.slider__img {
  position: relative;
  width: 100%;
  left: 0;
  left: 0%;
}

.slider__images {
  padding: 0;
  margin: 0;
  display: flex;
  overflow: hidden;
}

.slider__screen_horizontal {
  top: 31.6%;
  left: 47.2%;
  width: calc((100%/1020)*340);
}

.slider__screen_vertical {
  top: 19.5%;
  left: 12.1%;
  width: calc((100%/1020)*195);
}

.slider__button_screen_vertical {
  top: 77.6%;
  left: 19.5%;
}

.slider__button_screen_horizontal {
  top: 44.4%;
  left: 42.5%;
}

.line {
  height: 6px;
  background-color: white;
}

.line_color_gray {
  background-color: #323746;
  scroll-margin-top: 89px;
}

.line_color_red {
  background-color: #EA676B;
}

.line_color_blue {
  background-color: #323746;
}

.line_narrow {
  height: 5px;
  background-color: white;
}

.logo {
  margin: 0px;
}

.logo_color_red {
  color: #F06C64;
}

.ourServices {
  background-color: #F2F2F2;
  scroll-margin-top: 89px;
}

.ourServices img {
  padding-top: 6px;
}

.ourServices__text {
  padding-top: 3px;
}

.ourServices__container {
  display: grid;
  grid-template-rows: 95px 95px;
  grid-template-areas: "a a a" "a a a";
  grid-column-gap: 20px;
  grid-row-gap: 30px;
  align-items: start;
  margin: 0;
  overflow: hidden;
  padding-top: 41px;
  padding-bottom: 60px;
}

.ourServices__item {
  width: 300px;
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
}

.ourServices__containerText {
  font-size: 1.2rem;
  line-height: 2.2rem;
  text-align: justify;
  padding-left: 19px;
  padding-top: 3px;
  font-family: LatoRegular, sans-serif;
}

@media (max-width: 1020px) {
  .ourServices__container {
    grid-template-areas: "a a" "a a" "a a";
  }
}
@media (max-width: 768px) {
  .ourServices__container {
    display: block;
  }
}
.portfolio {
  background-color: #2D303A;
  scroll-margin-top: 89px;
}

.portfolio__text {
  padding-top: 3px;
}

.portfolio__buttons {
  padding-top: 5px;
  padding-bottom: 10px;
}

.portfolio__button {
  font-family: LatoRegular, sans-serif;
  font-size: 1.2rem;
  background-color: #2d303a;
  color: #767e9e;
  border-radius: 5px;
  border-color: #767e9e;
  border-style: solid;
  border-width: 1px;
  margin-right: 5.5px;
  word-spacing: -1.4px;
  letter-spacing: 0.1px;
  height: 22px;
}

.portfolio__img_position {
  top: 10%;
  left: 40%;
  color: #F06C64;
  font-size: 6rem;
  opacity: 0;
  transition: opacity 1s;
  font-family: LatoBlack, sans-serif;
  position: absolute;
}

.portfolio__img_position:hover {
  cursor: pointer;
}

.portfolio__button_active {
  color: white;
  border-color: white;
}

.portfolio__container {
  margin: auto;
  display: grid;
  grid-template-areas: "a a a a" "a a a a" "a a a a";
  padding: 2px 35px 63px;
  grid-column-gap: 10px;
  grid-row-gap: 9.5px;
}

.portfolio__item img {
  width: 100%;
  height: 100%;
}

.portfolio__item {
  position: relative;
  padding: 5px;
  cursor: pointer;
}

.portfolio__img_border {
  border: 5px solid;
  border-color: #F06C64;
  padding: 0px;
}

@media (max-width: 1020px) {
  .portfolio__container {
    grid-template-areas: "a a a" "a a a" "a a a" "a a a";
  }
}
@media (max-width: 768px) {
  .portfolio__container {
    grid-template-areas: "a a" "a a" "a a" "a a" "a a " "a a";
  }
}
.aboutUs {
  background-color: #F2F2F2;
  scroll-margin-top: 89px;
}

.aboutUs_text {
  padding-top: 3px;
}

.aboutUs__container {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-column-gap: 20px;
  align-items: start;
  overflow: hidden;
  padding: 44px 0 60px;
}

.aboutUs__name {
  padding: 3px 0 0;
}

.aboutUs__text {
  font-size: 1.2rem;
  line-height: 2.2rem;
  text-align: justify;
  padding-top: 4px;
  font-family: LatoRegular, sans-serif;
}

.aboutUs__picturesOfSocialNetworks {
  padding-top: 22px;
}

.picturesOfSocialNetwork {
  padding-right: 3px;
  cursor: pointer;
}

.getAQuote {
  background-color: #F06C64;
  scroll-margin-top: 89px;
}

.getAQuote__heading {
  color: #F0D8D9;
}

.getAQuote__text {
  padding-top: 3px;
  color: #F0D8D9;
}

.getAQuote__contactInformation {
  display: flex;
  justify-content: space-between;
  padding: 38px 0 58px;
}

.getAQuote__form {
  width: 66%;
  padding-top: 6px;
}

.getAQuote__pole {
  height: 38px;
  width: 100%;
  margin-bottom: 16px;
  background-color: #D6564F;
  border-radius: 5px;
  border-style: none;
  padding-left: 14px;
  resize: none;
  color: wheat;
}

.getAQuote__pole_big {
  height: 159px;
  padding-top: 0px;
  margin: 0;
}

.getAQuote__button {
  background-color: #FBC65F;
  color: #886A30;
  border-radius: 5px;
  border-style: none;
  width: 136px;
  height: 38px;
  font-family: LatoBlack, sans-serif;
  font-size: 1.4rem;
  margin-top: 6px;
}

.contactInformation {
  width: 31.92%;
}

.contactInformation__heading {
  color: #F0D8D9;
  padding: 0;
}

.contactInformation__text {
  color: #F0D8D9;
  font-size: 1.2rem;
  line-height: 2.2rem;
  text-align: justify;
  padding-top: 4px;
  font-family: LatoRegular, sans-serif;
}

.contactInformation__contacts {
  display: flex;
  padding-top: 25px;
  align-items: flex-start;
}

.contactInformation__contactList {
  list-style: none;
  margin: 0;
  padding-left: 7.5px;
}

.contactInformation__contactElement {
  line-height: 1px;
  padding: 0 0 9px 3px;
}

.contactInformation__contact {
  color: #F0D8D9;
  font-family: LatoRegular, sans-serif;
  font-size: 1.2rem;
  line-height: 1.3rem;
  text-decoration: none;
  margin: 0;
}

.contactInformation__icons {
  padding: 1px 0 1px;
}

.messageBlock {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #0008;
}

.message {
  position: relative;
  background-color: #2D303A;
  width: 50%;
  top: 25%;
  left: 25%;
  border-radius: 20px;
  padding: 10px;
  max-height: 70%;
}

.message__text {
  position: relative;
  width: 100%;
  max-height: 70%;
}

.messageBlock__none {
  display: none;
}

.messageBlock__textarea {
  resize: none;
  border-style: none;
  background-color: #D6564F;
  color: wheat;
  border-radius: 10px;
  width: 100%;
  padding-left: 10px;
  height: 200px;
}

/*# sourceMappingURL=style.css.map */
