.getAQuote {
    background-color: $color-background;
    scroll-margin-top: 89px;
}

.getAQuote__heading {
    color: $color-text-second;
}

.getAQuote__text {
    padding-top: 3px;
    color: $color-text-second;
}

.getAQuote__contactInformation {
    display: flex;
    justify-content: space-between;
    padding: 38px 0 58px;
}

.getAQuote__form {
    box-sizing: border-box;
    width: 64.5%;
    padding-top: 5px;
}

.getAQuote__pole {
    box-sizing: border-box;
    height: 36px;
    width: 100%;
    margin-bottom: 16px;
    background-color: $color-form;
    border-radius: 5px;
    border-style: none;
    padding-left: 14px;
    resize: none;
    color: wheat;
}

.getAQuote__pole_big {
    height: 157px;
    padding-top: 0px;
    margin: 0;
    width: 99.6%;
}

.getAQuote__button {
    background-color: $color-background-input;
    color: $color-input;
    border-radius: 5px;
    border-style: none;
    width: 136px;
    height: 38px;
    font-family: LatoBlack, sans-serif;
    font-size: 1.4rem;
    margin-top: 6px;
    .getAQuote__heading {
        padding-top: 53px;
    }
}

@media(max-width: $tablet-responsive-width) {
    .getAQuote__contactInformation {
        display: block;
        padding-bottom: 40px;
    }
    .getAQuote__form {
        width: 100%;
    }
    .getAQuote__button {
        width: 100%;
    }
    .getAQuote {
        scroll-margin-top: calc(58px - 50vh);
    }
    .getAQuote__heading {
        padding-top: 43px;
    }
}