.navigation {
    display: flex;
    margin: 0px;
    margin-top: 11px;
}

.navigation__link {
    text-decoration: none;
    list-style: none;
    font-size: 1.2rem;
    line-height: 1.4rem;
    color: white;
    padding: 0 0.47rem 0;
    cursor: pointer;
    margin: 0px;
}

.active {
    color: $color-background;
}

@media(max-width: $tablet-responsive-width) {
    .navigation {
        display: none;
    }
    .navigation {
        flex-direction: column;
        position: absolute;
        top: 203px;
        left: 31px;
    }
    .navigation__link {
        font-size: 24px;
        line-height: 29px;
        font-family: LatoBold, sans-serif;
    }
    .navigation__point_color_gray {
        color: $color-base-blue;
    }
    .navigation__flex {
        display: flex;
    }
}

@media(min-width:768px) {
    #navigation {
        display: flex;
    }
}