.ourServices {
    background-color: $color-background-second;
    scroll-margin-top: 89px;
}

.ourServices img {
    padding-top: 6px;
}

.ourServices__text {
    padding-top: 3px;
}

.ourServices__container {
    display: grid;
    grid-template-rows: 95px 95px;
    grid-template-areas: "a a a" "a a a";
    grid-column-gap: 20px;
    grid-row-gap: 30px;
    align-items: start;
    margin: 0;
    overflow: hidden;
    padding-top: 41px;
    padding-bottom: 60px;
}

.ourServices__item {
    width: 300px;
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
}

.ourServices__containerText {
    font-size: 1.2rem;
    line-height: 2.2rem;
    text-align: justify;
    padding-left: 19px;
    padding-top: 3px;
    font-family: LatoRegular, sans-serif;
}

@media(max-width: 1020px) {
    .ourServices__container {
        grid-template-areas: "a a" "a a" "a a";
    }
}

@media(max-width: 768px) {
    .ourServices__container {
        display: block;
    }
}