.portfolio {
    background-color: $color-base-blue;
    scroll-margin-top: 89px;
}

.portfolio__text {
    padding-top: 3px;
}

.portfolio__buttons {
    padding-top: 5px;
    padding-bottom: 10px;
}

.portfolio__button {
    font-family: LatoRegular, sans-serif;
    font-size: 1.2rem;
    background-color: #2d303a;
    color: #767e9e;
    border-radius: 5px;
    border-color: #767e9e;
    border-style: solid;
    border-width: 1px;
    margin-right: 5.5px;
    word-spacing: -1.4px;
    letter-spacing: 0.1px;
    height: 22px;
}

.portfolio__img_position {
    top: 10%;
    left: 40%;
    color: $color-background;
    font-size: 6rem;
    opacity: 0;
    transition: opacity 1s;
    font-family: LatoBlack, sans-serif;
    position: absolute;
}

.portfolio__img_position:hover {
    cursor: pointer;
}

.portfolio__button_active {
    color: white;
    border-color: white;
}

.portfolio__container {
    margin: auto;
    display: grid;
    grid-template-areas: "a a a a" "a a a a" "a a a a";
    padding: 2px 35px 63px;
    grid-column-gap: 10px;
    grid-row-gap: 9.5px;
}

.portfolio__item img {
    width: 100%;
    height: 100%;
}

.portfolio__item {
    position: relative;
    padding: 5px;
    cursor: pointer;
}

.portfolio__img_border {
    border: 5px solid;
    border-color: #F06C64;
    padding: 0px;
}

@media(max-width: 1020px) {
    .portfolio__container {
        grid-template-areas: "a a a" "a a a" "a a a" "a a a";
    }
}

@media(max-width: 768px) {
    .portfolio__container {
        grid-template-areas: "a a" "a a" "a a" "a a" "a a " "a a";
    }
}