    .portfolio {
        background-color: $color-base-blue;
        scroll-margin-top: 89px;
    }
    
    .portfolio__text {
        padding-top: 3px;
    }
    
    .portfolio__buttons {
        padding-top: 5px;
        padding-bottom: 10px;
    }
    
    .portfolio__button {
        font-family: LatoRegular, sans-serif;
        font-size: 1.2rem;
        background-color: #2d303a;
        color: #767e9e;
        border-radius: 5px;
        border-color: #767e9e;
        border-style: solid;
        border-width: 1px;
        margin-right: 5.5px;
        word-spacing: -1.4px;
        letter-spacing: 0.1px;
        height: 22px;
    }
    
    .portfolio__img_position {
        position: absolute;
        color: $color-background;
        font-size: 7vw;
        opacity: 1;
        transition: opacity 1s;
        font-family: LatoBlack, sans-serif;
        z-index: 5;
        top: 0;
    }
    
    .portfolio__img_position:hover {
        cursor: pointer;
    }
    
    .portfolio__button_active {
        color: white;
        border-color: white;
    }
    
    .portfolio__container {
        margin: auto;
        display: grid;
        grid-template-areas: "a a a a""a a a a""a a a a";
        padding: 7px 40px 68px;
        grid-column-gap: 20px;
        grid-row-gap: 20px;
    }
    
    .portfolio__item {
        display: flex;
        position: relative;
        cursor: pointer;
        outline-style: solid;
        outline-width: 5px;
        outline-color: transparent;
        justify-content: center;
        align-items: center;
    }
    
    .portfolio__img_border {
        outline-color: #F06C64;
    }
    
    .portfolio__item img {
        width: 100%;
    }
    
    @media(max-width: $content-responsive-width) {
        .portfolio__container {
            grid-template-areas: "a a a""a a a""a a a""a a a";
        }
    }
    
    @media(max-width: $tablet-responsive-width) {
        .portfolio__container {
            grid-template-areas: "a a" "a a" "a a" "a a" "a a " "a a";
            padding: 7px 30px 42px;
            grid-column-gap: 13px;
            grid-row-gap: 14px;
        }
        .portfolio {
            scroll-margin-top: calc(58px - 100vh);
        }
        .portfolio__heading {
            padding-top: 42px;
        }
    }