.portfolio {
    background-color: $color-base-blue;
}

.portfolio__text {
    padding-top: 3px;
}

.portfolio__buttons {
    padding-top: 5px;
    padding-bottom: 10px;
}

.portfolio__button {
    font-family: LatoRegular, sans-serif;
    font-size: 1.2rem;
    background-color: #2d303a;
    color: #767e9e;
    border-radius: 5px;
    border-color: #767e9e;
    border-style: solid;
    border-width: 1px;
    margin-right: 5.5px;
    word-spacing: -1.4px;
    letter-spacing: 0.1px;
    height: 22px;
}

.portfolio__container {
    width: 950px;
    margin: auto;
    display: grid;
    grid-template-columns: 230px 230px 230px 230px;
    grid-template-rows: 197px 197px 197px;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    padding-top: 2px;
}

.portfolio__item {
    position: relative;
    margin: 5px;
    cursor: pointer;
}

.portfolio__img_position {
    position: absolute;
    top: 10%;
    left: 40%;
    color: $color-background;
    font-size: 6rem;
    opacity: 0;
    transition: opacity 1s;
    font-family: LatoBlack, sans-serif;
}

.portfolio__img_position:hover {
    cursor: pointer;
}

.portfolio__img_border {
    position: relative;
    border: 5px solid;
    border-color: #F06C64;
    margin: 0px;
}

.portfolio__button_active {
    color: white;
    border-color: white;
    -webkit-user-select: none;
}